
.cards-container {
	display: flex;
	justify-content: center;
	width: 100%;
	gap: 85px;
	padding: 6% 0;
	background-color: #f7f7f7;
	border-radius: 25px;
	margin: 43px 0;
	flex-wrap: wrap;
}

.link_card_logement {
	text-decoration: none;
}





